body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.App {
  text-align: center;
  height: 100%;
}

/*====================================== HEADER COMPONENT ============================================*/

#header {
  width: 100%;
  background-color: red;
}

#hero {
  font-size: 5em;
}
/*====================================== LOGIN COMPONENT ============================================*/

.login{
  height: 100vh;
}

#login-page{
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: 32.5em;
  width: 30em;
  background-color: green;
}

/*====================================== REGISTER COMPONENT ============================================*/

#register-page {
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: 32.5em;
  width: 30em;
  background-color: gray;
}

/*====================================== MAIN COMPONENT ============================================*/



/*====================================== LIST COMPONENT ============================================*/

#listing {
  background-color: blue;
}

/*====================================== FOOTER COMPONENT ============================================*/

#footer {
  height: 5em;
  line-height: 5em;
  width: 100%;
  background-color: black;
  color: white;
}